/* headsection */
p.h2{
   transform: translateY(-15px);
   font-size:45px;
}
.carousel-item{
 background-color: rgba(0, 128, 128, 0.096);
    /* margin: 30px 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
 clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 65% 99%, 50% 100%, 44% 99%, 0 100%);
  }
    .carousel-caption{
    margin-bottom:-1px;
}

/* infosection */
.info{
    background-color: rgb(246,246,246);
       }
.inner-box1{
    background-color: rgb(246,246,246);
    font-size:14px;
    }
h2.b{
    font-size:20px;
}
/* section-6 */
.inner-box4{
    text-align: center;
           }
span.h4{
  font-size: 18px;
}
.inner-box5{
    text-align: center;
    font-size: 14px;
              }
  span.h5{
    font-size: 17px;
              }
/* section8 */
.inner-box6{
    background-color: rgb(107,153,155);
    text-align: center;
    margin-top: 20px;
    min-height: 400px;
       }
/* section9 */
.inner-box7{
    text-align: center;
}
p.h6{
    font-size:smaller;
}
/* section10 */
.inner-box8{
    background-color: black;
    text-align: center;
    min-height: 50px;
    }
 .section10{
        background-color: black;
    }
 .hr1{
    color: grey;
    height: 5px;
    width: 100%;
 }
span.t{
    font-size: smaller;
}
.f{
    font-size: 35px;
      }
span.g{
    font-size: 25px;
    color: grey;
          }
.a{
    text-decoration:none;
}
@media(max-width:898px){
    .nav-link{
        font-size: 13px!important;
    }
}
@media(max-width:823px){
    .nav-link{
        font-size: 12px!important;
    }
}
@media(max-width:798px){
    .nav-link{
        font-size: 11px!important;
    }
}
@media(max-width:798px){
    .nav-link{
        font-size: 10px!important;
    }
}
@media(max-width:767px){
    .nav-link{
        font-size: 15px!important;
    }
}
@media(max-width:400px){
   h5.cap{
    font-size: 16px;
   }
   
}
@media(max-width:380px){
    h5.cap{
     font-size: 16px;
    }
p.si{
    font-size: 12px;
}
p.se{
    font-size: 11px;
}
span.h1{
    font-size:21px ;
}
 }
@media(max-width:260px){
    h5.cap{
     font-size: 16px;
    }
p.si{
    font-size: 12px;
}
p.se{
    font-size: 11px;
}
span.h1{
    font-size:21px ;
}
 }
